{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<ul>
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% else %}
        <li>Aucune catégorie</li>
    {% endfor %}
</ul>
{% endblock %}
