{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout d'une nouvelle catégorie</h1>

    {# 
    Permet d'inclure un template d'une partie répétée en lui 
    passant des paramètres grâce au 'with'
    #}
    {% include "category/_form.html.twig" with {form:categoryForm} %}
{% endblock %}