{% extends "base.html.twig" %}

{% block body %}
    <h1>Mettre à jour une catégorie</h1>

    {% include "category/_form.html.twig" with {form:categoryForm, submitLabel:'Mettre à jour'} %}
{% endblock %}