{% extends "base.html.twig" %}

{% block body %}
	<h1 class="mt-3">Bienvenue sur le Superblog</h1>
	<p>Sur ce blog on parle de tout et on teste le framework Symfony</p>
	{# Twig propose des filtres pour modifier l'affichage de nos textes. Ici upper mets le texte en uppercase. #}
	<h2>{{ "Voir nos derniers articles"|upper }}</h2>

	<div class="col-6 mx-auto">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
				</tr>
			</thead>
			<tbody>
				{% if categories %}
					{% for category in categories %}
						<tr>
							<td>{{ category.id }}</td>
                            {# 
                                path est une fonction de twig permettant de générer un lien vers une autre page.
                                On génère ici le lien vers la méthode single_category en lui passant le paramètre dont on a besoin
                                qui est l'id de la catégorie.
                            #}
							<td><a href="{{ path('single_category', {id: category.id}) }}">{{ category.name }}</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="2">Pas de catégories pour le moment</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}
