{% extends "base.html.twig" %}
{% block body %}
    <h1 class="text-center">Erreur <span class="text-danger">{{status_code}}</span> {{ status_text }}</h1>
    <p class="text-center">{{ exception.message }}</p>
{% endblock %}